In [1]:
import pandas as pd
import sqlite3
import os
from IPython.display import HTML, display
import glob
from datetime import datetime
import us
import csv

### File Prep: ###
* Read in file, skipping over top 7 rows
* Convert 'order postal' to category dtype (first experiment with this dtype, look for weirdness...)
* Load function to clean column names (used as db is being created)

In [4]:
client = 'test_client'

encode = 'latin_1'
skip_rows = 7
df = pd.read_csv('test-sales.csv', encoding = encode, skiprows=skip_rows, dtype={'order postal': 'str'})

# Would like to play with pandas dtype 'category' but breaks the zipcode string operations so for future development:
# df = pd.read_csv('/Users/karen/Documents/Business/Agile-Merchant/clients/spontuneous/data/2017-10-17/2016Feb1-2017Oct17CustomTransaction.csv', encoding = encode, skiprows=skip_rows, dtype={'order postal': 'category'})

display 
display(df)

,date/time,settlement id,type,order id,sku,quantity,order city,order state,order postal,product sales,other,total
0,"Feb 1, 2016 12:28:08 AM PST",6048826701,Order,105-0254632-8301849,sku01,1.0,MARION,OH,43302-5231,35.00,0,26.12
1,"Feb 1, 2016 2:09:21 PM PST",6048826701,Refund,103-9249887-1536265,sku02,1.0,TENAFLY,NJ,07670-3014,-32.99,0,-29.03
2,"Feb 1, 2016 3:19:52 PM PST",6048826701,Order,104-3152419-5177066,sku02,1.0,MILILANI,HI,96789-2046,32.99,0,24.02
3,"Feb 1, 2016 3:35:39 PM PST",6048826701,Order,114-6293518-1467419,sku03,1.0,BLOOMFIELD,MO,63825-9505,16.99,0,11.77
4,"Feb 1, 2016 5:49:49 PM PST",6048826701,Order,113-4059732-1893026,sku01,1.0,CLIFTON,NJ,07011-3215,35.00,0,26.12
5,"Feb 3, 2016 1:52:11 AM PST",6048826701,Order,112-4824706-5214658,sku02,1.0,REDMOND,WA,98052-6122,32.99,0,24.02
6,"Feb 3, 2016 1:54:22 AM PST",6048826701,Order,110-6682296-7137053,sku02,1.0,NASHVILLE,TN,37212-4810,32.99,0,24.02
7,"Feb 3, 2016 2:17:18 AM PST",6048826701,Order,105-8169048-3253065,sku01,1.0,LAKE ZURICH,IL,60047-2839,35.00,0,26.12
8,"Feb 3, 2016 1:40:23 PM PST",6048826701,Order,002-5599967-6321059,sku04,1.0,ALEXANDRIA,VA,22314-4755,49.99,0,33.73
9,"Feb 4, 2016 8:28:33 AM PST",6048826701,Order,102-2342223-6180238,sku01,1.0,KELLER,TEXAS,76248-4148,35.00,0,26.12
10,"Feb 4, 2016 9:36:15 AM PST",6048826701,Order,110-2262200-2546669,sku04,1.0,PALM COAST,FL,32164-5321,49.99,0,33.73
11,"Feb 4, 2016 10:40:40 AM PST",6048826701,Order,104-3787739-6945045,sku01,1.0,Glendale,NY,11385,35.00,0,26.12
12,"Feb 4, 2016 5:00:46 PM PST",6048826701,Order,107-8910892-2904218,sku03,1.0,SHELTON,CT,06484-2614,16.99,0,11.77
13,"Feb 4, 2016 8:47:52 PM PST",6048826701,Order,105-3951804-8121868,sku01,1.0,MARIETTA,PA,17547-1324,35.00,0,26.12
14,"Feb 4, 2016 9:18:29 PM PST",6048826701,Order,113-0876522-4889052,sku01,1.0,BONNEY LAKE,WA,98391-7060,35.00,0,26.12
15,"Feb 4, 2016 11:49:00 PM PST",6048826701,Order,104-6750279-1763401,sku03,1.0,Carpinteria,California,93013,16.99,0,11.77
16,"Feb 5, 2016 2:31:20 AM PST",6048826701,Refund,110-5667736-1301845,sku01,1.0,COLORADO SPRINGS,CO,80921-7613,-32.99,0,-29.03
17,"Feb 5, 2016 5:17:24 AM PST",6048826701,Refund,109-9963254-9465003,sku01,1.0,NORTH BEND,WA,98045-8101,-32.99,0,-29.03
18,"Feb 5, 2016 1:15:38 PM PST",6048826701,Order,105-2255085-3033847,sku01,1.0,PORTLAND,OR,97225-6454,35.00,0,26.12
19,"Feb 5, 2016 7:39:24 PM PST",6048826701,Order,107-7861880-2394645,sku01,1.0,MADISON,WI,53711-2430,35.00,0,26.12
20,"Feb 6, 2016 9:32:17 AM PST",6048826701,Refund,102-2492942-8398655,sku01,1.0,FELTON,CA,95018-9119,-35.00,0,-30.8
21,"Feb 6, 2016 4:31:54 PM PST",6048826701,Refund,106-7013491-1137813,sku01,1.0,Winnipeg,Manitoba,R2J 1E6,0.00,0,0
22,"Feb 6, 2016 4:33:51 PM PST",6048826701,Refund,112-7111545-9141839,sku01,1.0,newquay,cornwall,TR7 1JP,0.00,0,0
23,"Feb 6, 2016 4:35:28 PM PST",6048826701,Refund,108-9093146-2248254,sku01,1.0,MALVERN,Worcs,WR14 1EG,0.00,0,0
24,"Feb 6, 2016 4:41:12 PM PST",6048826701,Refund,108-9144049-5901063,sku01,1.0,Saint John,New Brunswick,E2M 0A5,0.00,0,0
25,"Feb 6, 2016 4:46:19 PM PST",6048826701,Refund,103-6452362-9078650,sku01,1.0,Vancouver,BC,V5N 4Z4,0.00,0,0
26,"Feb 6, 2016 5:20:48 PM PST",6048826701,Refund,002-8239336-4816263,sku01,1.0,Windsor,Ontario,N8S 2N4,0.00,0,0
27,"Feb 6, 2016 5:35:13 PM PST",6048826701,Refund,109-7860661-4325812,sku01,1.0,Saint John,New Brunswick,E2M 4M7,0.00,0,0
28,"Feb 6, 2016 6:00:54 PM PST",6048826701,Refund,112-4159252-7032258,sku01,1.0,sudbury,Ontario,P3E 1N4,0.00,0,0
29,"Feb 6, 2016 6:11:50 PM PST",6048826701,Refund,102-8540270-9240228,sku01,1.0,Mt. Pearl,NL,A1N4X6,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
49730,"Oct 17, 2017 10:00:51 AM PDT",6476765091,Order,114-8771061-5493006,sku07,1.0,NEW YORK,NY,10028-4668,29.99,0,21.53
49731,"Oct 17, 2017 10:03:37 AM PDT",6476765091,Order,111-7913925-8119426,sku07,1.0,CENTENNIAL,CO,80121-2344,29.99,0,21.53
49732,"Oct 17, 2017 10:08:21 AM PDT",6476765091,Order,114-3455201-7433016,sku07,1.0,KATY,TEXAS,77494-2410,29.99,0,23.35
49733,"Oct 17, 2017 10:29:15 AM PDT",6476765091,Order,112-6370901-0025861,sku07,1.0,ENCINO,CA,91316-2648,29.99,0,24.3
49734,"Oct 17, 2017 10:34:37 AM PDT",6476765091,Order,113-1270976-0714606,sku07,1.0,APO,AE,9378,29.99,0,21.53
49735,"Oct 17, 2017 11:00:41 AM PDT",6476765091,Order,111-5858134-8641869,sku07,1.0,FORT MYERS,FL,33919-6803,29.99,0,23.28
49736,"Oct 17, 2017 12:40:26 PM PDT",6476765091,Order,113-4816628-4921861,sku07,1.0,CHICAGO,IL,60613-2330,29.99,0,23.35
49737,"Oct 17, 2017 1:28:12 PM PDT",6476765091,Order,112-3733406-1518626,sku07,1.0,FLORAL PARK,NY,11001-3112,29.99,0,21.53
49738,"Oct 17, 2017 1:29:05 PM PDT",6476765091,Order,113-6741740-7834663,sku01,1.0,PFLUGERVILLE,TX,78660-2250,29.99,0,23.93
49739,"Oct 17, 2017 2:01:04 PM PDT",6476765091,Order,113-0136268-8329862,sku07,1.0,CLIFTON PARK,NY,12065-6012,29.99,0,21.53
49740,"Oct 17, 2017 2:29:38 PM PDT",6476765091,Order,112-8491649-3731451,sku01,1.0,Madrid,MADRID,28009,29.99,0,21.53
49741,"Oct 17, 2017 2:39:29 PM PDT",6476765091,Order,112-2902127-3873022,sku07,1.0,Maynard,Ma,1754,29.99,0,21.53
49742,"Oct 17, 2017 3:33:48 PM PDT",6476765091,Order,113-8922045-7403417,sku07,1.0,Skillman,NJ,8558,29.99,0,21.53
49743,"Oct 17, 2017 3:59:21 PM PDT",6476765091,Order,113-0207242-8536206,sku07,1.0,LONE TREE,CO,80124-3060,29.99,0,21.53
49744,"Oct 17, 2017 4:41:44 PM PDT",6476765091,Order,111-1150190-4953032,sku07,1.0,Haslet,Texas,76052,29.99,0,23.93
49745,"Oct 17, 2017 4:45:55 PM PDT",6476765091,Order,114-6332092-3484251,sku07,1.0,Rexburg,Idaho,83440,29.99,0,21.53
49746,"Oct 17, 2017 4:51:27 PM PDT",6476765091,Order,113-3112555-0566604,sku07,1.0,CHANDLER,AZ,85286-5139,29.99,0,21.53
49747,"Oct 17, 2017 5:18:58 PM PDT",6476765091,Order,112-5683950-6399428,sku07,1.0,TULSA,OK,74137-6208,29.99,0,21.53
49748,"Oct 17, 2017 5:43:02 PM PDT",6476765091,Order,112-3369029-6608221,sku07,1.0,Maynard,MA,1754,29.99,0,21.53
49749,"Oct 17, 2017 5:47:30 PM PDT",6476765091,Order,112-9641858-7495406,sku07,1.0,MEDFORD,NJ,08055-8535,29.99,0,21.53
49750,"Oct 17, 2017 5:57:02 PM PDT",6476765091,Order,113-1258052-1049811,sku07,1.0,WOODBINE,NJ,08270-3006,29.99,0,21.53
49751,"Oct 17, 2017 6:35:59 PM PDT",6476765091,Order,111-8019364-3428201,sku07,1.0,Meadowbrook,PA,19046-1832,29.99,0,21.53
49752,"Oct 17, 2017 6:57:03 PM PDT",6476765091,Order,113-2071004-1198639,sku07,1.0,MIDDLETOWN,DELAWARE,19709-1605,29.99,0,21.53
49753,"Oct 17, 2017 7:05:13 PM PDT",6476765091,Order,113-7673257-1758601,sku07,1.0,BOULDER,CO,80304-0707,29.99,0,21.53
49754,"Oct 17, 2017 10:06:08 PM PDT",6476765091,Order,113-8916648-5869013,sku07,1.0,WINCHESTER,VA,22601-2667,29.99,0,21.53
49755,"Oct 17, 2017 10:15:00 PM PDT",6476765091,Order,111-7789493-1162603,sku07,1.0,FOLSOM,CA,95630-1572,29.99,0,23.78
49756,"Oct 17, 2017 10:30:30 PM PDT",6476765091,Order,112-5651700-2685822,sku07,1.0,SAN JOSE,CA,95126-1527,29.99,0,24.22
49757,"Oct 17, 2017 11:15:00 PM PDT",6476765091,Order,112-2727666-6497039,sku07,1.0,GIBSONIA,PA,15044-8329,29.99,0,21.53
49758,"Oct 17, 2017 11:31:47 PM PDT",6476765091,Order,113-6134515-5873800,sku07,1.0,MOORESVILLE,NC,28115-8010,29.99,0,21.53
49759,"Oct 17, 2017 11:32:24 PM PDT",6476765091,Order,114-3877540-5768219,sku07,1.0,NEW YORK,NEW YORK,10024-1704,29.99,0,21.53

In [5]:
def clean_col_names(df):
    characters = (' ', '/', '-')
    for char in characters:
        # make column names more sql friendly
        df.columns = df.columns.str.replace(char,'_')
        display(df.columns)
    return df

### Create toy SQLite db

In [6]:
db_file = '{}-all-transactions.sqlite'.format(client) # this would populate the client or variable name from the client variable cell
conn = sqlite3.connect( db_file )
c = conn.cursor()

Import data into SQLite db:

In [7]:
def create_table(df,table_name):
    df.to_sql( table_name, conn, index = False, if_exists = 'replace' )

Create tables based on available dataframes and transform column names

In [8]:
# Set up a dictionary of Dataframe names and assosiated SQLite table names.
table_map = [
    (df,'transactions')
    # Add additional dfs and table names here as needed
]

# Create a table for each dataframe in the table_map.
for table in table_map:
    df = table[0]
    table_name = table[1]
    # make column names more sql friendly, this should be moved out of this function, not associated with the SQLite DB only.
    clean_col_names(df)
    create_table(df, table_name)

Index(['date/time', 'settlement_id', 'type', 'order_id', 'sku', 'quantity',
       'order_city', 'order_state', 'order_postal', 'product_sales', 'other',
       'total'],
      dtype='object')

Index(['date_time', 'settlement_id', 'type', 'order_id', 'sku', 'quantity',
       'order_city', 'order_state', 'order_postal', 'product_sales', 'other',
       'total'],
      dtype='object')

Index(['date_time', 'settlement_id', 'type', 'order_id', 'sku', 'quantity',
       'order_city', 'order_state', 'order_postal', 'product_sales', 'other',
       'total'],
      dtype='object')

## Start cleaning data
User-entered data: Foibles ahead.

### Normalize state names:
* Create a list of all unique values in "order_state" column
* Iterate through the list, determine which states are in the US states library
* If state exists, update table with normalized name, otherwise pass (this maintains non-US place values)

*Note:  This section creates a second cursor, ```update_c```, just for use in the if statement to update the table. The ```c``` cursor is the lookup cursor, so can't update itself.*

In [9]:
# Create a database connection and cursor object
db_file = '{}-all-transactions.sqlite'.format(client) # this would populate the client or variable name from the client variable cell
conn = sqlite3.connect( db_file )
c = conn.cursor()
sales_state = []

# Replace any "." in the state names. This confuses the state lookup library
c.execute('update transactions set order_state = replace(order_state,".","")')

# Create the list of states that will be used to look up the normalized state names.
all_state_values = c.execute('select distinct order_state from transactions where order_state != ""')

# Iterate through the list of states, look up whether it's a US state, and update with normalized version of name
for value in all_state_values:
    raw_state = (value[0])
    
#     print(raw_state)  # This line is for visually verifying the state being changed
    new_state = str(us.states.lookup(raw_state))
    if new_state != 'None': 
#         print(new_state)  # This line is also for visually verifying the state being changed ^^^
        sales_state.append(new_state)
        #display(sales_state) # More visual testing...
        update_c = conn.cursor() # Create update-specific cursor, select cursor can't update its own data
        update_c.execute('update transactions set order_state = ? where order_state = ?',(new_state,raw_state))
        
    else:
        continue

# Test to verify states have been updated, non-US states left in place
new_state_values = c.execute('select distinct order_state from transactions')
display(new_state_values.fetchall())        

# Commit the changes and close the database connection
conn.commit()
conn.close()

[('Ohio',),
 ('New Jersey',),
 ('Hawaii',),
 ('Missouri',),
 ('Washington',),
 ('Tennessee',),
 ('Illinois',),
 ('Virginia',),
 ('Texas',),
 ('Florida',),
 ('New York',),
 ('Connecticut',),
 ('Pennsylvania',),
 ('California',),
 ('Colorado',),
 ('Oregon',),
 ('Wisconsin',),
 ('Manitoba',),
 ('cornwall',),
 ('Worcs',),
 ('New Brunswick',),
 ('BC',),
 ('Ontario',),
 ('NL',),
 ('Roma',),
 (None,),
 ('Nagaland',),
 ('South Carolina',),
 ('Arkansas',),
 ('Iowa',),
 ('Arizona',),
 ('Alabama',),
 ('Maryland',),
 ('Montana',),
 ('Utah',),
 ('W Sussex',),
 ('Glos',),
 ('North Carolina',),
 ('Michigan',),
 ('Minnesota',),
 ('Kentucky',),
 ('Indiana',),
 ('Georgia',),
 ('New Hampshire',),
 ('Kansas',),
 ('Oklahoma',),
 ('Nova Scotia',),
 ('Massachusetts',),
 ('North Dakota',),
 ('Louisiana',),
 ('Maine',),
 ('West Virginia',),
 ('Nevada',),
 ('Idaho',),
 ('Alaska',),
 ('Mississippi',),
 ('New Mexico',),
 ('Nebraska',),
 ('Hampshire',),
 ('AP',),
 ('Delaware',),
 ('Wyoming',),
 ('Guam',),
 ('South Dakota',),
 ('Rhode Island',),
 ('Vermont',),
 ('District of Columbia',),
 ('Western Australia',),
 ('Nueva vizcaya',),
 ('AE',),
 ('NSW',),
 ('New South Wales',),
 ('Northern Mariana Islands',),
 ('ON',),
 ('Eastern Province',),
 ('Victoria',),
 ('western australia',),
 ('VIC',),
 ('Puerto Rico',),
 ('Dorset',),
 ('QLD',),
 ('Qld',),
 ('Alberta',),
 ('Shanghai',),
 ('Merseyside',),
 ('Herts',),
 ('Surrey',),
 ('Notts',),
 ('Birmingham',),
 ('east sussex',),
 ('Tokyo',),
 ('Metro Manila',),
 ('Vic',),
 ('AA',),
 ('Queensland',),
 ('Newfoundland',),
 ('Australia',),
 ('Singapore',),
 ('herts',),
 ('South Australia',),
 ('ONTARIO',),
 ('ACT',),
 ('Deutschland',),
 ('SA',),
 ('228233',),
 ('Dubai',),
 ('Trinidad',),
 ('Essex',),
 ('SK',),
 ('DF',),
 ('British Columbia',),
 ('vic',),
 ('Brandenburg',),
 ('Saskatchewan',),
 ('Western austalia',),
 ('PE',),
 ('Israel',),
 ('West Midlands',),
 ('AB',),
 ('VICTORIA',),
 ('Cheshire',),
 ('Co Meath',),
 ('Hong Kong',),
 ('WILAYAH PERSEKUTUAN',),
 ('N C',),
 ('Virgin Islands',),
 ('Taiwan',),
 ('Setagaya-ku',),
 ('Riyadh',),
 ('Quebec',),
 ('Hsinchu',),
 ('Tasmania',),
 ('ontario',),
 ('Lantau',),
 ('WP',),
 ('QUEENSLAND',),
 ('Bangkok',),
 ('Suffolk',),
 ('Bayern',),
 ('Tamil Nadu',),
 ('Singapur',),
 ('Zuid-Holland',),
 ('Switzerland',),
 ('MADRID',)]

### Clean Zipcodes ###
Create less granular groups and more interesting visualization by shortening to 5 digit zips.

00000-0000 -> 00000

Future: 
* This is kind of blunt because it just slices anything longer than 5 characters. What about non-US postal codes?
* Perhaps only look for '-' in index 5 and slice then? Again, non-US consideration.
* Would like to play with dtype category, but breaks because of NaNs. To work on in the future.

[Resource on zips and dtype for leading zeros](http://data-tutorials.com/zip-codes-in-pandas.html)

[Current pandas doc on dtype 'category', article above is out of date here](https://pandas.pydata.org/pandas-docs/stable/categorical.html)

In [11]:
# A quick helper to test the number of postal codes that have '-'. Should run both before and after the string operation
def get_dashes(df):
    long_postals = df[df['order_postal'].str.contains('-', na = False)]
    dash_count = len(long_postals['order_postal'])
    return(dash_count, long_postals)

# Slices the zipcode based on length:
def clean_dashes(df):
    long_zip_codes = df['order_postal'].str.len() > 5
    df['order_postal'] = df['order_postal'].str.slice(0, 5)# Don't love this, would rather slice after the '-' character? What about non-US postal codes?
    
# Total row count to get a basesline for rows in the set:
row_count = len(df['order_postal'])
display('total dataframe rows: ',row_count)

# Rows found to have dashes:
raw_row_count, raw_long_postals = get_dashes(df)
display("Raw data: ", 'count: ',raw_row_count, 'zips with dash: ',raw_long_postals['order_postal'].unique())
# Now clean up the zips that have dashes:
if raw_row_count > 0: 
    clean_dashes(df)
else: 
    display('no long zips')

# Re-check for dashes to verify changes:   
cleaned_long_row_count, cleaned_long_postals = get_dashes(df)
display("Cleaned data: ", 'count: ',cleaned_long_row_count, 'zips with dash: ',cleaned_long_postals['order_postal'].unique())

    
# Some alt code to test and incorporate:
# long_zip_codes = df['order postal'].str.len() > 5
# df['order postal'][long_zip_codes].unique()

'total dataframe rows: '

49760

'Raw data: '

'count: '

36874

'zips with dash: '

array(['43302-5231', '07670-3014', '96789-2046', ..., '95126-1527',
       '28115-8010', '10024-1704'], dtype=object)

'Cleaned data: '

'count: '

2

'zips with dash: '

array(['106-0'], dtype=object)

### Summarize sales data by state

To Do:
* Convert sales to int64 instead of float
* Add sales by zip code
* Found repeats and problems with city data. Clean it up!

In [12]:
# Create a database connection and cursor object
conn = sqlite3.connect( db_file )
c = conn.cursor()

# Create a unique list of US states that have sales:
state_set = list(set(sales_state))

# Iterate through the state list and sum sales by state:
sales_by_state = []
# sales_by_zip = []
for state in state_set:
    c.execute('select ?, sum(quantity) from transactions where type is "Order" and order_state is ?;',(state,state))
    sales_by_state.append(c.fetchone())
# sales_by_state = dict(sales_by_state)

display(sales_by_state)

conn.commit()
conn.close()

[('Ohio', 1873.0),
 ('Georgia', 1236.0),
 ('Kansas', 508.0),
 ('Guam', 4.0),
 ('Vermont', 124.0),
 ('Northern Mariana Islands', 2.0),
 ('Tennessee', 811.0),
 ('Nebraska', 386.0),
 ('South Carolina', 526.0),
 ('Arizona', 1003.0),
 ('Puerto Rico', 24.0),
 ('Florida', 2161.0),
 ('Oklahoma', 437.0),
 ('Wisconsin', 978.0),
 ('New Mexico', 160.0),
 ('Iowa', 536.0),
 ('Connecticut', 822.0),
 ('North Dakota', 153.0),
 ('New Hampshire', 359.0),
 ('Arkansas', 292.0),
 ('Colorado', 1092.0),
 ('North Carolina', 1339.0),
 ('Kentucky', 558.0),
 ('Washington', 1389.0),
 ('West Virginia', 217.0),
 ('Idaho', 366.0),
 ('Louisiana', 486.0),
 ('Utah', 1136.0),
 ('Mississippi', 221.0),
 ('South Dakota', 129.0),
 ('Oregon', 635.0),
 ('Maine', 249.0),
 ('Minnesota', 914.0),
 ('Massachusetts', 1627.0),
 ('Alaska', 113.0),
 ('Wyoming', 124.0),
 ('District of Columbia', 92.0),
 ('Michigan', 1452.0),
 ('Rhode Island', 160.0),
 ('Virgin Islands', 1.0),
 ('Pennsylvania', 2230.0),
 ('Virginia', 1661.0),
 ('Maryland', 1182.0),
 ('Delaware', 176.0),
 ('Indiana', 974.0),
 ('New York', 3206.0),
 ('Montana', 239.0),
 ('Missouri', 1008.0),
 ('Alabama', 458.0),
 ('Nevada', 286.0),
 ('New Jersey', 1839.0),
 ('Hawaii', 131.0),
 ('Texas', 3340.0),
 ('California', 4859.0),
 ('Illinois', 2152.0)]

Create csv of total sales by city:
* SQL query selects city and sum quantities only for orders (not returns etc) and groups the output by city

In [13]:

# Create a database connection and cursor object
conn = sqlite3.connect( db_file )
c = conn.cursor()

# Sum sales by city:
c.execute('select order_state, order_city, sum(quantity) from transactions where type is "Order" group by order_state, order_city;')

# Export to csv:
with open("sales_totals.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerow(['order_state', 'order_city', 'quantity'])
    writer.writerows(c.fetchall())

### Clean City###
Dataset contains multiple versions of the same city because of case differences so convert to all caps.


### Problems here: This isn't working, unique count value before and after cleaning is the same. Why? ###

In [ ]:
new_df = pd.DataFrame(df)
new_df['order city'] = new_df['order city'].str.upper()
display(df)
display(new_df)
display(len(new_df['order city'].unique()),len(df['order city'].unique()))
# df['order city'].fillna(False)

# len(all_names['order city'].unique())
# all_caps_df = df['order city'].str.upper()
# len(all_caps_df['order city'].unique())

# print(df.columns.values)

Helper code to force-close the database when it gets stuck locked:

In [ ]:
conn.commit()
conn.close()

For later mapping and pretty display, here's a [link to a dictionary of abbreviations and state names](http://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/).